<style type="text/css">
	.barSpan{
		margin-right:10px;
	}	
	.barSpan:hover{
		cursor: pointer;
		color:red;
		text-decoration: underline;
	}
</style>
<div style='margin:0px;margin-top:200px;padding-top:0px;'>
	<div class="container" style='margin-bottom:0px;margin-top:0px;padding:0px;background-color:#F5F5F5;border-top:1px dashed #E5E5E5;opacity: 1.5;'>
		<div class='span12' style='text-align:center;margin-left:0px;height:30px;line-height:30px;'>
			<div style='float:left;'>
				© 2012－2013 kookbook.com, all rights reserved
			</div>
			<div style='float:right;'>
				<span class='barSpan'>
					条款
				</span>
				<span class='barSpan'>
					关于网站
				</span>
				<span class='barSpan'>
					帮助中心
				</span>
				<span class='barSpan'>
					联系我们
				</span>
			</div>
		</div>
	</div>
</div>