<!DOCTYPE html>
<style type="text/css">
	.left-nav-main{
		text-align: left ; 
		vertical-align: top ; 
		font-family: 'Microsoft Yahei', Verdana, Simsun;
		border:1px solid #d3d0d9;
		border-radius: 5px;
		padding-right: 0px;
	}
	.a-m{
		margin-left: 10px;
	}
</style>
<link rel="stylesheet" type="text/css" href="/stylesheets/navMenu.css">
<div class='left-nav-main'>
	<div class='one-nav'>
		<div class='nav-i'>
			<span class='one-nav-title-text'>作者</span>
			<span class='one-nav-title-more'>
				>
			</span>
		</div>
		<div class='navs'>
			<div class='one-nav'>
				<div class='nav-i nav-ii' id='author-publicBox'>
					<span class='one-nav-title-text'>公开</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav' id='author-unPublicBox'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>未公开</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav' id='author-unSubmitBox'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>未提交</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav' id='author-submitedBox'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>审核中</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav' id='author-usedBox'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>已收录</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class='one-nav'>
		<div class='nav-i'>
			<span class='one-nav-title-text'>书籍</span>
			<span class='one-nav-title-more'>
				>
			</span>
		</div>
		<div class='navs'>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>公开</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>未公开</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>未提交</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>审核中</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>已收录</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class='one-nav'>
		<div class='nav-i'>
			<span class='one-nav-title-text'>条目</span>
			<span class='one-nav-title-more'>
				>
			</span>
		</div>
		<div class='navs'>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>公开</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>未公开</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>未提交</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>审核中</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
			<div class='one-nav'>
				<div class='nav-i nav-ii'>
					<span class='one-nav-title-text'>已收录</span>
					<span class='one-nav-title-more'>
						>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src='/javascripts/cooperateAllOfMine.js'></script>
<script type="text/javascript" src='/javascripts/navMenu.js'></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.one-nav').nvaMenu({
		}) ; 
	}) ; 
</script>