<!DOCTYPE>
<style type="text/css">
	.un-title{
		width:100%;
		height:40px;
		line-height: 40px;
		font-size: 14px;
		font-weight: bold;
		padding-left: 20px;
		text-align: left ; 
		vertical-align: middle;
	}	
</style>
<div class='un-title'>
	尚未编辑的条目
</div>
<div class='un-info'>
</div>
