<!doctype html>
<style type="text/css">
	.login-support{
		width: 100%;
		text-align: right;
		margin-top: 20px;
		padding-bottom: 5px;
		height: 30px;
	}
	.login-support-tips{
		margin-right: 20px;
		text-align:center;
		font-size: 12px;
		float: right;
	    cursor: pointer;
	    padding-left: 4px;
	    display: inline-block;
	}
	.login-support-tips a{
		color:#1874CD;
	}
</style>
<div class='login-support'>
	<span class='login-support-tips'>
		<a href='/advise'>
			意见与建议
		</a>
	</span>
	<span class='login-support-tips'>
		<a href='/login/login_helper'>
			登录帮助
		</a>
	</span>
	<span class='login-support-tips'>
		<a href='/'>
			首页
		</a>
	</span>
</div>