<!DOCTYPE HTML>
<html>
	<head>
		<title>
			test
		</title>
	</head>
	<script type="text/javascript" src='/javascripts/dashboardTab.js'></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboardTab.css">
	<body>
		<div>
			<ul class="dashboard-tabs">
			  <li><a href="/" class="js-selected-navigation-item selected" data-selected-links=" /">作者标签</a></li>
			  <li><a href="/dashboard/pulls" class="js-selected-navigation-item unselected" data-selected-links=" /dashboard/pulls">书籍标签</a></li>
			  <li><a href="/stars" class="js-selected-navigation-item unselected" data-selected-links="/stars /stars">条目标签</a></li>
			  <li><a href="/stars" class="js-selected-navigation-item unselected" data-selected-links="/stars /stars">笔记标签</a></li>
			  <li><a href="/stars" class="js-selected-navigation-item unselected" data-selected-links="/stars /stars">其他标签</a></li>
			</ul>
		</div>
	</body>
</html>