<!DOCTYPE HTML>
<html>
	<script type="text/javascript" src='/javascripts/userDashboardTab.js'></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/userDashboardTab.css">
	<body>
		<div>
			<ul class="dashboard-tabs">
			  <li><a href="/userDetailInfo" class="js-selected-navigation-item selected" data-selected-links=" /">个人信息设置</a></li>
			  <li><a href="/userMessageSetting" class="js-selected-navigation-item unselected" data-selected-links=" /dashboard/pulls">消息设置</a></li>
			  <li><a href="/userEmailSetting" class="js-selected-navigation-item unselected">邮件设置</a></li>
			</ul>
		</div>
	</body>
</html>