<!doctype html>
<style type="text/css">
	.panel-bg{
		position: fixed;
		left: 0;
		top: 0;
		z-index: 95;
		min-height: 100%!important;
		width: 100%!important;
		height: 100%!important;
		overflow: visible;
		background: #666;

		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* ie8  */
	    filter:alpha(opacity=50);    /* ie5-7  */
	    -moz-opacity:0.5;    /* old mozilla browser like netscape  */
	    -khtml-opacity: 0.5;    /* for really really old safari */ 
	    opacity: 0.5; 
		width: 1349px;
		height: 7595px;
		display: none;
	}
</style>
<div class='panel-bg'>
</div>