<!doctype html>
<style type="text/css">
	.home-welcome{
		height: 100%;
		width: 100%;
		margin: 0px;
	}
	.home-title{
		margin-left: 10px;
	}
</style>
<div class='home-welcome' id='homeWelcome'>
	<h3 class='home-title'>
		欢迎访问KookBook后台管理系统
	</h3>
</div>