<!doctype html>
<style type="text/css">
	.bottom-bar{
		height: 30px;
		line-height: 30px;
		vertical-align: middle;
	}
	#pageNo{
		width: 40px;
	}
</style>
<div class='bottom-bar'>
	<span>
		上一页
	</span>
	<span>
		第
	</span>
	<span>
		<input type='text' name='pageNo' id='pageNo'>
	</span>
	<span>
		页
	</span>
	<span>
		跳转
	</span>
	<span>
		下一页
	</span>
	<span>共<span>
	<span><span>
	<span>页<span>
	<span><span>
	<span>条数据</span>
	<span>每页显示</span>
	<span>20</span>
	<span>条</span>
</div>