<!doctype html>
<style type="text/css">
	.view-page{
		position: absolute;
		top: 32px;
		right: 0px;
		bottom: 32px;
		left: 304px;
		background-color: #D6D6D6;
		padding:0px;
	}
</style>
<div class='view-page' id='viewPage'>
	<%-include view-tab%>
	<%-include view-tab-panel%>
	<%-include tab-home-init%>
</div>