<!DOCTYPE html>
<html>
	<head>
		<title><%= title%> -KookBook-添加书籍分类</title>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<script type="text/javascript" src="/ext-4.2.1.883/ext-all-debug.js"></script>
		<link rel="stylesheet" type="text/css" href="/ext-4.2.1.883/resources/css/ext-all-debug.css">
		<script type="text/javascript">
    Ext.Loader.setConfig({
               enabled: true
           });
    Ext.Loader.setPath('Ext.ux', '/ext-4.2.1.883/examples/ux');

    Ext.require([
               //'Ext.form.*',
               //'Ext.layout.container.Column',
               //'Ext.tab.Panel'
               '*',
               'Ext.ux.DataTip'
           ]);
    var required = '<span style="color:red;font-weight:bold" data-qtip="Required">*</span>';
    Ext.onReady(function() {
        Ext.create('Ext.form.Panel', {
            renderTo: Ext.getBody(),
            frame: true,
            bodyPadding: '5 5 5',
            anchor: '100%',
            fieldDefaults: {
                labelAlign: 'left',
                msgTarget: 'side'
            },
            items: [{
                xtype: 'container',
                anchor: '100%',
                layout: 'hbox',
                items:[{
                    xtype: 'container',
                    flex: .3,
                    layout: 'anchor',
                    anchor: '90%',
                    items: [{
                        xtype:'textfield',
                        fieldLabel: '分类名称',
                        afterLabelTextTpl: required,
                        allowBlank: false,
                        name: 'name',
                        anchor:'95%' 
                    }, {
                        xtype:'textfield',
                        fieldLabel: '英文分类名',
                        name: 'ename',
                        anchor:'95%'
                    }]
                },{
                    xtype: 'container',
                    flex: .3,
                    layout: 'anchor',
                    anchor: '90%',
                    items: [{
                        xtype:'combo',
                        fieldLabel: '选择所属分类',
                        name: 'parentCategrayId',
                        anchor:'95%'
                    }]
                }]
            }, {
                xtype: 'htmleditor',
                name: 'memo',
                fieldLabel: '详细信息',
                height: 200,
                anchor: '100%'
            }],

            buttons: [{
                text: '保存',
                handler: function() {
                    if(this.up('form').getForm().isValid())
                    {
                      this.up('form').getForm().submit({
                             waitMsg: '正在提交',
                             waitTitle: '提示',
                             url: '/support/bookCategrayAdd',
                             method: 'post',
                             success: function(form , action) {
                                if(action.result.error)
                                {
                                  Ext.MessageBox.alert(action.result.error) ;
                                  return ;
                                }
                                else
                                  Ext.MessageBox.alert('书籍分类信息录入成功!') ;
                             },
                             failure: function(form , action) {
                                Ext.MessageBox.alert(action.result.error) ;
                             }
                          }
                       );
                    }
                }
            },{
                text: '重置',
                handler: function() {
                    this.up('form').getForm().reset();
                }
            }]
        });
    });
   	</script>
	</head>
	<body>
	</body>
</html>